*{
    box-sizing:border-box;
    
}

body{
    margin:0;
    padding:0;
}

.toolbox-cont{
    background-color:#4b4b4b;
    height: 5rem;
    display: flex;
    align-items: center;
    
}

.toolbox-priority-cont{
    background-color: #3d3d3d;
    height: 3.5rem;
    width: 18rem;
    margin-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color-box{
    height: 1.5rem;
    width: 3rem;
    background-color: black;
    
}

.lightpink{
    background-color: lightpink;

}

.lightblue{
    background-color: lightblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}

.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    margin-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.action-btn-cont>*{
    display: flex;
    color:white;
    font-size: 2rem;
    width:50%;
    align-items: center;
    justify-content: center;

}

.add-btn:hover{
    background-color:#4bb543;
    font-size: 3.5rem;

}

.remove-btn:hover{
    background-color: red;
    font-size: 3.5rem;
}

/* Ticket Design */

.ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color:coral;
    border: 2px solid black;
}

.main-cont{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;

}

.ticket-color{
    height: 1rem;

}

.ticket-id{
    height: 2rem;
    background-color: yellow;
}

.ticket-lock{
    display: flex;
    position: fixed;
    top : 16rem;
    font-size: 1.5rem;
    left : 30rem;
}

/* modal Pop up */

.modal-cont{
    display: flex;
    height: 50vh; /*vh = view height */
    width: 45vw; /*wh = view width */
    background-color: #dfe4ea;
    position: absolute;
    top: 30%;
    left: 27%;
}

.textArea-cont{
    height: 100%;
    width: 70%;
    resize: none;
    outline : none;
    font-size: 2rem;
}

.priority-color-container{

    background-color: #4b4b4b;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.priority-color{
    height : 3rem;
    width: 5rem;
}



